body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 40px;
}

h2 {
  font-size: 1.5em;
}

strong {
  font-weight: bold;
}
